In [38]:
# Let's load and inspect the content of the provided CSV files to understand the dataset better
# and to be able to craft a suitable scenario and documentation for Task 1, Section 1.

import pandas as pd

# Load the datasets
car_prices = pd.read_csv("C:\\Users\\harip\\OneDrive\\Desktop\\Data analytics\\data engg\\assessment 2\\kaggle data\\car sales\\car_prices.csv")

# Display the first few rows of each dataset to understand their structure and content

car_prices_head = car_prices.head()

car_prices_head

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [35]:

print(car_prices.columns)

Index(['year', 'make', 'model', 'transmission', 'state', 'condition',
       'odometer', 'color', 'interior', 'seller', 'mmr', 'sellingprice',
       'mileage_category'],
      dtype='object')

In [9]:
car_prices['odometer'].fillna(car_prices['odometer'].median(), inplace=True)
car_prices['mmr'].fillna(car_prices['mmr'].median(), inplace=True)
car_prices['sellingprice'].fillna(car_prices['sellingprice'].median(), inplace=True)

In [10]:
car_prices.drop_duplicates(inplace=True)

In [11]:
car_prices['year'] = car_prices['year'].astype(str)

In [12]:
car_prices['mileage_category'] = pd.cut(car_prices['odometer'], bins=[0, 50000, 100000, float('Inf')], labels=['Low', 'Medium', 'High'])

In [13]:
print(car_prices.head())

   year   make                model        trim   body transmission  \
0  2015    Kia              Sorento          LX    SUV    automatic
1  2015    Kia              Sorento          LX    SUV    automatic
2  2014    BMW             3 Series  328i SULEV  Sedan    automatic
3  2015  Volvo                  S60          T5  Sedan    automatic
4  2014    BMW  6 Series Gran Coupe        650i  Sedan    automatic

                 vin state  condition  odometer  color interior  \
0  5xyktca69fg566472    ca        5.0   16639.0  white    black
1  5xyktca69fg561319    ca        5.0    9393.0  white    beige
2  wba3c1c51ek116351    ca       45.0    1331.0   gray    black
3  yv1612tb4f1310987    ca       41.0   14282.0  white    black
4  wba6b2c57ed129731    ca       43.0    2641.0   gray    black

                                   seller      mmr  sellingprice  \
0                 kia motors america  inc  20500.0       21500.0
1                 kia motors america  inc  20800.0       21500.0
2  financial services remarketing (lease)  31900.0       30000.0
3                 volvo na rep/world omni  27500.0       27750.0
4  financial services remarketing (lease)  66000.0       67000.0

                                  saledate mileage_category
0  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)              Low
1  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)              Low
2  Thu Jan 15 2015 04:30:00 GMT-0800 (PST)              Low
3  Thu Jan 29 2015 04:30:00 GMT-0800 (PST)              Low
4  Thu Dec 18 2014 12:30:00 GMT-0800 (PST)              Low

In [14]:
print(car_prices.isnull().sum())

year                    0
make                10301
model               10399
trim                10651
body                13195
transmission        65352
vin                     4
state                   0
condition           11820
odometer                0
color                 749
interior              749
seller                  0
mmr                     0
sellingprice            0
saledate               12
mileage_category        0
dtype: int64

In [15]:
print(car_prices.duplicated().sum())  # Should be 0 if duplicates were successfully removed

0

In [16]:
print(car_prices.dtypes)

year                  object
make                  object
model                 object
trim                  object
body                  object
transmission          object
vin                   object
state                 object
condition            float64
odometer             float64
color                 object
interior              object
seller                object
mmr                  float64
sellingprice         float64
saledate              object
mileage_category    category
dtype: object

In [17]:
print(car_prices.describe())

           condition       odometer            mmr   sellingprice
count  547017.000000  558837.000000  558837.000000  558837.000000
mean       30.672365   68317.315359   13769.274180   13611.326356
std        13.402832   53394.458135    9679.646165    9749.399466
min         1.000000       1.000000      25.000000       1.000000
25%        23.000000   28375.000000    7100.000000    6900.000000
50%        35.000000   52254.000000   12250.000000   12100.000000
75%        42.000000   99103.000000   18300.000000   18200.000000
max        49.000000  999999.000000  182000.000000  230000.000000

In [20]:
import pandas as pd

# Assuming car_prices.csv is already loaded into car_prices DataFrame
# If not loaded, uncomment the next line to load it
# car_prices = pd.read_csv('path/to/car_prices.csv')

# Remove unwanted columns
car_prices.drop(['vin', 'trim', 'body', 'saledate'], axis=1, inplace=True, errors='ignore')

# Handle missing values
# For 'condition', 'odometer', 'mmr', and 'sellingprice', fill missing values with the median of the column
numerical_columns = ['condition', 'odometer', 'mmr', 'sellingprice']
car_prices[numerical_columns] = car_prices[numerical_columns].fillna(car_prices[numerical_columns].median())

# For categorical columns like 'make', 'model', 'color', 'interior', fill missing values with 'Unknown'
categorical_columns = ['make', 'model', 'color', 'interior']
car_prices[categorical_columns] = car_prices[categorical_columns].fillna('Unknown')

# Convert 'year' to a categorical type
car_prices['year'] = car_prices['year'].astype(str)

# Remove duplicates
car_prices.drop_duplicates(inplace=True)

# Check for missing values and data types after cleaning
print(car_prices.isnull().sum())
print(car_prices.dtypes)

# Preview the cleaned DataFrame
print(car_prices.head())

year                    0
make                    0
model                   0
transmission        63585
state                   0
condition               0
odometer                0
color                   0
interior                0
seller                  0
mmr                     0
sellingprice            0
mileage_category        0
dtype: int64
year                  object
make                  object
model                 object
transmission          object
state                 object
condition            float64
odometer             float64
color                 object
interior              object
seller                object
mmr                  float64
sellingprice         float64
mileage_category    category
dtype: object
   year   make                model transmission state  condition  odometer  \
0  2015    Kia              Sorento    automatic    ca        5.0   16639.0
1  2015    Kia              Sorento    automatic    ca        5.0    9393.0
2  2014    BMW             3 Series    automatic    ca       45.0    1331.0
3  2015  Volvo                  S60    automatic    ca       41.0   14282.0
4  2014    BMW  6 Series Gran Coupe    automatic    ca       43.0    2641.0

   color interior                                  seller      mmr  \
0  white    black                 kia motors america  inc  20500.0
1  white    beige                 kia motors america  inc  20800.0
2   gray    black  financial services remarketing (lease)  31900.0
3  white    black                 volvo na rep/world omni  27500.0
4   gray    black  financial services remarketing (lease)  66000.0

   sellingprice mileage_category
0       21500.0              Low
1       21500.0              Low
2       30000.0              Low
3       27750.0              Low
4       67000.0              Low

In [21]:
car_prices['transmission'].fillna('Unknown', inplace=True)

In [22]:
# Assuming car_prices DataFrame is already defined and cleaned

# Convert 'year' from object to int64, as years are inherently numerical
# However, if 'year' is being used categorically and no arithmetic operations are needed, it can remain as object or be converted to 'category'
car_prices['year'] = car_prices['year'].astype(int)

# 'make', 'model', 'transmission', 'state', 'color', 'interior', 'seller' can remain as 'object' 
# if text operations are needed or converted to 'category' for efficiency if used for grouping or categorical analysis
categorical_columns = ['make', 'model', 'transmission', 'state', 'color', 'interior', 'seller']
for column in categorical_columns:
    car_prices[column] = car_prices[column].astype('category')

# 'condition', 'odometer', 'mmr', and 'sellingprice' are correctly set as float64 if they contain decimal values
# No changes needed unless you have a specific requirement to alter their precision

# 'mileage_category' is correctly set as 'category'
# No changes needed since it represents categorical data

# After adjustments, check the updated data types
print(car_prices.dtypes)

year                   int32
make                category
model               category
transmission        category
state               category
condition            float64
odometer             float64
color               category
interior            category
seller              category
mmr                  float64
sellingprice         float64
mileage_category    category
dtype: object

In [28]:
# Replace the path with the actual path to your loan data CSV
loan_data = pd.read_csv("C:\\Users\\harip\\OneDrive\\Desktop\\Data analytics\\data engg\\assessment 2\\kaggle data\\cleaned_data\loan\\loantest.csv")

In [29]:
print(loan_data.columns)

Index(['UniqueID', 'disbursed_amount', 'asset_cost', 'ltv', 'branch_id',
       'supplier_id', 'manufacturer_id', 'Current_pincode_ID', 'Date.of.Birth',
       'Employment.Type', 'DisbursalDate', 'State_ID', 'Employee_code_ID',
       'MobileNo_Avl_Flag', 'Aadhar_flag', 'PAN_flag', 'VoterID_flag',
       'Driving_flag', 'Passport_flag', 'PERFORM_CNS.SCORE',
       'PERFORM_CNS.SCORE.DESCRIPTION', 'PRI.NO.OF.ACCTS', 'PRI.ACTIVE.ACCTS',
       'PRI.OVERDUE.ACCTS', 'PRI.CURRENT.BALANCE', 'PRI.SANCTIONED.AMOUNT',
       'PRI.DISBURSED.AMOUNT', 'SEC.NO.OF.ACCTS', 'SEC.ACTIVE.ACCTS',
       'SEC.OVERDUE.ACCTS', 'SEC.CURRENT.BALANCE', 'SEC.SANCTIONED.AMOUNT',
       'SEC.DISBURSED.AMOUNT', 'PRIMARY.INSTAL.AMT', 'SEC.INSTAL.AMT',
       'NEW.ACCTS.IN.LAST.SIX.MONTHS', 'DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS',
       'AVERAGE.ACCT.AGE', 'CREDIT.HISTORY.LENGTH', 'NO.OF_INQUIRIES'],
      dtype='object')

In [30]:
# Hypothetical removal of columns deemed unnecessary for analysis
loan_data.drop(['branch_id', 'supplier_id', 'Current_pincode_ID', 'State_ID', 'Employee_code_ID',
                'MobileNo_Avl_Flag', 'Aadhar_flag', 'PAN_flag', 'VoterID_flag', 'Driving_flag', 'Passport_flag'],
               axis=1, inplace=True, errors='ignore')

In [31]:
# Convert date columns from string to datetime
loan_data['Date.of.Birth'] = pd.to_datetime(loan_data['Date.of.Birth'], errors='coerce')
loan_data['DisbursalDate'] = pd.to_datetime(loan_data['DisbursalDate'], errors='coerce')

# Convert categorical data columns to category data type
loan_data['Employment.Type'] = loan_data['Employment.Type'].astype('category')

C:\Users\harip\AppData\Local\Temp\ipykernel_17832\279205328.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  loan_data['Date.of.Birth'] = pd.to_datetime(loan_data['Date.of.Birth'], errors='coerce')
C:\Users\harip\AppData\Local\Temp\ipykernel_17832\279205328.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  loan_data['DisbursalDate'] = pd.to_datetime(loan_data['DisbursalDate'], errors='coerce')

In [33]:
# First, add 'Unknown' to the categories if it's not already there
if 'Unknown' not in loan_data['Employment.Type'].cat.categories:
    loan_data['Employment.Type'] = loan_data['Employment.Type'].cat.add_categories('Unknown')

# Now, you can safely fill missing values with 'Unknown'
loan_data['Employment.Type'].fillna('Unknown', inplace=True)

In [34]:
print(loan_data.isnull().sum())

UniqueID                               0
disbursed_amount                       0
asset_cost                             0
ltv                                    0
manufacturer_id                        0
Date.of.Birth                          0
Employment.Type                        0
DisbursalDate                          0
PERFORM_CNS.SCORE                      0
PERFORM_CNS.SCORE.DESCRIPTION          0
PRI.NO.OF.ACCTS                        0
PRI.ACTIVE.ACCTS                       0
PRI.OVERDUE.ACCTS                      0
PRI.CURRENT.BALANCE                    0
PRI.SANCTIONED.AMOUNT                  0
PRI.DISBURSED.AMOUNT                   0
SEC.NO.OF.ACCTS                        0
SEC.ACTIVE.ACCTS                       0
SEC.OVERDUE.ACCTS                      0
SEC.CURRENT.BALANCE                    0
SEC.SANCTIONED.AMOUNT                  0
SEC.DISBURSED.AMOUNT                   0
PRIMARY.INSTAL.AMT                     0
SEC.INSTAL.AMT                         0
NEW.ACCTS.IN.LAST.SIX.MONTHS           0
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS    0
AVERAGE.ACCT.AGE                       0
CREDIT.HISTORY.LENGTH                  0
NO.OF_INQUIRIES                        0
dtype: int64

In [41]:
# Saving cleaned car_prices dataset to a Parquet file
car_prices.to_parquet("C:\\Users\\harip\\OneDrive\\Desktop\\Data analytics\\data engg\\assessment 2\\kaggle data\\cleaned_data\\cleaned_car_prices_v1.parquet", index=False)

# Saving cleaned loan_data dataset to a Parquet file

loan_data.to_parquet("C:\\Users\\harip\\OneDrive\\Desktop\\Data analytics\\data engg\\assessment 2\\kaggle data\\cleaned_data\\cleaned_loan_data_v1.parquet", index=False)

In [44]:
# Assigning the cleaned data to specifically named data frames
cleaned_car_prices = car_prices.copy()
cleaned_loan_data = loan_data.copy()

# Define the file paths for saving
cleaned_car_prices_parquet_path = "C:\\Users\\harip\\OneDrive\\Desktop\\Data analytics\\data engg\\assessment 2\\kaggle data\\cleaned_data\\cleaned_car_prices_v1.parquet"
cleaned_loan_data_parquet_path = "C:\\Users\\harip\\OneDrive\\Desktop\\Data analytics\\data engg\\assessment 2\\kaggle data\\cleaned_data\\cleaned_loan_data_v1.parquet"

# Save the cleaned data frames as Parquet files
cleaned_car_prices.to_parquet("C:\\Users\\harip\\OneDrive\\Desktop\\Data analytics\\data engg\\assessment 2\\kaggle data\\cleaned_data\\cleaned_car_prices_v1.parquet", index=False)
cleaned_loan_data.to_parquet("C:\\Users\\harip\\OneDrive\\Desktop\\Data analytics\\data engg\\assessment 2\\kaggle data\\cleaned_data\\cleaned_loan_data_v1.parquet", index=False)

In [45]:
# Save the cleaned car_prices dataset to a CSV file with a specific name
cleaned_car_prices_csv_path = "C:\\Users\\harip\\OneDrive\\Desktop\\Data analytics\\data engg\\assessment 2\\kaggle data\\cleaned_data\\cleaned_car_prices_v2.csv"
cleaned_car_prices.to_csv(cleaned_car_prices_csv_path, index=False)

# Save the cleaned loan_data dataset to a CSV file with a specific name
cleaned_loan_data_csv_path = "C:\\Users\\harip\\OneDrive\\Desktop\\Data analytics\\data engg\\assessment 2\\kaggle data\\cleaned_data\\cleaned_loan_data_v2.csv"
cleaned_loan_data.to_csv(cleaned_loan_data_csv_path, index=False)

# Provide the paths for downloading the cleaned datasets in CSV format
cleaned_car_prices_csv_path, cleaned_loan_data_csv_path

('C:\\Users\\harip\\OneDrive\\Desktop\\Data analytics\\data engg\\assessment 2\\kaggle data\\cleaned_data\\cleaned_car_prices_v2.csv',
 'C:\\Users\\harip\\OneDrive\\Desktop\\Data analytics\\data engg\\assessment 2\\kaggle data\\cleaned_data\\cleaned_loan_data_v2.csv')

In [46]:
import pandas as pd

# Load the cleaned datasets from the uploaded files
cleaned_car_prices = pd.read_csv("C:\\Users\\harip\\OneDrive\\Desktop\\Data analytics\\data engg\\assessment 2\\kaggle data\\cleaned_data\\cleaned_car_prices_v2.csv")
cleaned_loan_data = pd.read_csv("C:\\Users\\harip\\OneDrive\\Desktop\\Data analytics\\data engg\\assessment 2\\kaggle data\\cleaned_data\\cleaned_loan_data_v2.csv")

# Verify the cleaning by checking for missing values and inspecting data types
print(cleaned_car_prices.isnull().sum())
print(cleaned_loan_data.isnull().sum())
print(cleaned_car_prices.dtypes)
print(cleaned_loan_data.dtypes)

# Further actions based on verification results

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65352
vin                 4
state               0
condition       11820
odometer           94
color             749
interior          749
seller              0
mmr                38
sellingprice       12
saledate           12
dtype: int64
UniqueID                               0
disbursed_amount                       0
asset_cost                             0
ltv                                    0
manufacturer_id                        0
Date.of.Birth                          0
Employment.Type                        0
DisbursalDate                          0
PERFORM_CNS.SCORE                      0
PERFORM_CNS.SCORE.DESCRIPTION          0
PRI.NO.OF.ACCTS                        0
PRI.ACTIVE.ACCTS                       0
PRI.OVERDUE.ACCTS                      0
PRI.CURRENT.BALANCE                    0
PRI.SANCTIONED.AMOUNT                  0
PRI.DISBURSED.AMOUNT                   0
SEC.NO.OF.ACCTS                        0
SEC.ACTIVE.ACCTS                       0
SEC.OVERDUE.ACCTS                      0
SEC.CURRENT.BALANCE                    0
SEC.SANCTIONED.AMOUNT                  0
SEC.DISBURSED.AMOUNT                   0
PRIMARY.INSTAL.AMT                     0
SEC.INSTAL.AMT                         0
NEW.ACCTS.IN.LAST.SIX.MONTHS           0
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS    0
AVERAGE.ACCT.AGE                       0
CREDIT.HISTORY.LENGTH                  0
NO.OF_INQUIRIES                        0
dtype: int64
year              int64
make             object
model            object
trim             object
body             object
transmission     object
vin              object
state            object
condition       float64
odometer        float64
color            object
interior         object
seller           object
mmr             float64
sellingprice    float64
saledate         object
dtype: object
UniqueID                                 int64
disbursed_amount                         int64
asset_cost                               int64
ltv                                    float64
manufacturer_id                          int64
Date.of.Birth                           object
Employment.Type                         object
DisbursalDate                           object
PERFORM_CNS.SCORE                        int64
PERFORM_CNS.SCORE.DESCRIPTION           object
PRI.NO.OF.ACCTS                          int64
PRI.ACTIVE.ACCTS                         int64
PRI.OVERDUE.ACCTS                        int64
PRI.CURRENT.BALANCE                      int64
PRI.SANCTIONED.AMOUNT                    int64
PRI.DISBURSED.AMOUNT                     int64
SEC.NO.OF.ACCTS                          int64
SEC.ACTIVE.ACCTS                         int64
SEC.OVERDUE.ACCTS                        int64
SEC.CURRENT.BALANCE                      int64
SEC.SANCTIONED.AMOUNT                    int64
SEC.DISBURSED.AMOUNT                     int64
PRIMARY.INSTAL.AMT                       int64
SEC.INSTAL.AMT                           int64
NEW.ACCTS.IN.LAST.SIX.MONTHS             int64
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS      int64
AVERAGE.ACCT.AGE                        object
CREDIT.HISTORY.LENGTH                   object
NO.OF_INQUIRIES                          int64
dtype: object

In [47]:
# Final Adjustments for cleaned_car_prices
cleaned_car_prices['make'].fillna(cleaned_car_prices['make'].mode()[0], inplace=True)
cleaned_car_prices['transmission'].fillna(cleaned_car_prices['transmission'].mode()[0], inplace=True)
cleaned_car_prices['condition'].fillna(cleaned_car_prices['condition'].median(), inplace=True)
# Convert to category
categorical_cols = ['make', 'model', 'transmission', 'state', 'color', 'interior']
for col in categorical_cols:
    cleaned_car_prices[col] = cleaned_car_prices[col].astype('category')

# Drop columns with high percentage of missing values if not needed
# cleaned_car_prices.drop(['trim', 'body'], axis=1, inplace=True)

# Final Adjustments for cleaned_loan_data
cleaned_loan_data['Date.of.Birth'] = pd.to_datetime(cleaned_loan_data['Date.of.Birth'])
cleaned_loan_data['DisbursalDate'] = pd.to_datetime(cleaned_loan_data['DisbursalDate'])
cleaned_loan_data['Employment.Type'] = cleaned_loan_data['Employment.Type'].astype('category')

# Verify changes
print(cleaned_car_prices.info())
print(cleaned_loan_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          558837 non-null  category
 2   model         548438 non-null  category
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  558837 non-null  category
 6   vin           558833 non-null  object
 7   state         558837 non-null  category
 8   condition     558837 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558088 non-null  category
 11  interior      558088 non-null  category
 12  seller        558837 non-null  object
 13  mmr           558799 non-null  float64
 14  sellingprice  558825 non-null  float64
 15  saledate      558825 non-null  object
dtypes: category(6), float64(4), int64(1), object(5)
memory usage: 46.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112392 entries, 0 to 112391
Data columns (total 29 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   UniqueID                             112392 non-null  int64
 1   disbursed_amount                     112392 non-null  int64
 2   asset_cost                           112392 non-null  int64
 3   ltv                                  112392 non-null  float64
 4   manufacturer_id                      112392 non-null  int64
 5   Date.of.Birth                        112392 non-null  datetime64[ns]
 6   Employment.Type                      112392 non-null  category
 7   DisbursalDate                        112392 non-null  datetime64[ns]
 8   PERFORM_CNS.SCORE                    112392 non-null  int64
 9   PERFORM_CNS.SCORE.DESCRIPTION        112392 non-null  object
 10  PRI.NO.OF.ACCTS                      112392 non-null  int64
 11  PRI.ACTIVE.ACCTS                     112392 non-null  int64
 12  PRI.OVERDUE.ACCTS                    112392 non-null  int64
 13  PRI.CURRENT.BALANCE                  112392 non-null  int64
 14  PRI.SANCTIONED.AMOUNT                112392 non-null  int64
 15  PRI.DISBURSED.AMOUNT                 112392 non-null  int64
 16  SEC.NO.OF.ACCTS                      112392 non-null  int64
 17  SEC.ACTIVE.ACCTS                     112392 non-null  int64
 18  SEC.OVERDUE.ACCTS                    112392 non-null  int64
 19  SEC.CURRENT.BALANCE                  112392 non-null  int64
 20  SEC.SANCTIONED.AMOUNT                112392 non-null  int64
 21  SEC.DISBURSED.AMOUNT                 112392 non-null  int64
 22  PRIMARY.INSTAL.AMT                   112392 non-null  int64
 23  SEC.INSTAL.AMT                       112392 non-null  int64
 24  NEW.ACCTS.IN.LAST.SIX.MONTHS         112392 non-null  int64
 25  DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS  112392 non-null  int64
 26  AVERAGE.ACCT.AGE                     112392 non-null  object
 27  CREDIT.HISTORY.LENGTH                112392 non-null  object
 28  NO.OF_INQUIRIES                      112392 non-null  int64
dtypes: category(1), datetime64[ns](2), float64(1), int64(22), object(3)
memory usage: 24.1+ MB
None

In [48]:
# Assuming cleaned_car_prices and cleaned_loan_data are your cleaned DataFrames

# Save the final cleaned car_prices dataset to a CSV file (version 3)
cleaned_car_prices.to_csv("C:\\Users\\harip\\OneDrive\\Desktop\\Data analytics\\data engg\\assessment 2\\kaggle data\\cleaned_data\\final_cleaned_car_prices_v3.csv", index=False)

# Save the final cleaned loan_data dataset to a CSV file (version 3)
cleaned_loan_data.to_csv("C:\\Users\\harip\\OneDrive\\Desktop\\Data analytics\\data engg\\assessment 2\\kaggle data\\cleaned_data\\final_cleaned_loan_data_v3.csv", index=False)

In [ ]:
loan_data_columns = loan_data.columns.tolist()
car_prices_columns = car_prices.columns.tolist()

print("Loan Data Columns:", loan_data_columns)
print("Car Prices Columns:", car_prices_columns)