In [1]:
import pandas as pd

car_prices = pd.read_csv("C:\\Users\\harip\\OneDrive\\Desktop\\Data analytics\\data engg\\assessment 2\\kaggle data\\cleaned_data\\final_cleaned_car_prices_v3.csv")
car_sales_data = pd.read_csv("C:\\Users\\harip\\OneDrive\\Desktop\\Data analytics\\data engg\\assessment 2\\kaggle data\\dataset\\car_sales_data.csv")

In [2]:
print(car_prices.head())
print(car_sales_data.head())

   year   make                model        trim   body transmission  \
0  2015    Kia              Sorento          LX    SUV    automatic
1  2015    Kia              Sorento          LX    SUV    automatic
2  2014    BMW             3 Series  328i SULEV  Sedan    automatic
3  2015  Volvo                  S60          T5  Sedan    automatic
4  2014    BMW  6 Series Gran Coupe        650i  Sedan    automatic

                 vin state  condition  odometer  color interior  \
0  5xyktca69fg566472    ca        5.0   16639.0  white    black
1  5xyktca69fg561319    ca        5.0    9393.0  white    beige
2  wba3c1c51ek116351    ca       45.0    1331.0   gray    black
3  yv1612tb4f1310987    ca       41.0   14282.0  white    black
4  wba6b2c57ed129731    ca       43.0    2641.0   gray    black

                                   seller      mmr  sellingprice  \
0                 kia motors america  inc  20500.0       21500.0
1                 kia motors america  inc  20800.0       21500.0
2  financial services remarketing (lease)  31900.0       30000.0
3                 volvo na rep/world omni  27500.0       27750.0
4  financial services remarketing (lease)  66000.0       67000.0

                                  saledate
0  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2  Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3  Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4  Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
         Date      Salesperson   Customer Name Car Make  Car Model  Car Year  \
0  2022-08-01  Monica Moore MD     Mary Butler   Nissan     Altima      2018
1  2023-03-15     Roberto Rose  Richard Pierce   Nissan      F-150      2016
2  2023-04-29     Ashley Ramos    Sandra Moore     Ford      Civic      2016
3  2022-09-04   Patrick Harris    Johnny Scott     Ford     Altima      2013
4  2022-06-16       Eric Lopez   Vanessa Jones    Honda  Silverado      2022

   Sale Price  Commission Rate  Commission Earned
0       15983         0.070495            1126.73
1       38474         0.134439            5172.40
2       33340         0.114536            3818.63
3       41937         0.092191            3866.20
4       20256         0.113490            2298.85

In [3]:
print(car_prices.columns.tolist())
print(car_sales_data.columns.tolist())

['year', 'make', 'model', 'trim', 'body', 'transmission', 'vin', 'state', 'condition', 'odometer', 'color', 'interior', 'seller', 'mmr', 'sellingprice', 'saledate']
['Date', 'Salesperson', 'Customer Name', 'Car Make', 'Car Model', 'Car Year', 'Sale Price', 'Commission Rate', 'Commission Earned']

In [5]:
# Renaming columns in car_sales_data to match those in car_prices
car_sales_data.rename(columns={
    'Car Make': 'make',
    'Car Model': 'model',
    'Car Year': 'year',
    'Sale Price': 'sale_price'
}, inplace=True)

In [6]:
# Convert 'year' to string if not already, to prevent any merge issues due to data type mismatches
car_prices['year'] = car_prices['year'].astype(str)
car_sales_data['year'] = car_sales_data['year'].astype(str)

In [7]:
# Handling missing values for key columns (example)
car_prices['make'].fillna('Unknown', inplace=True)
car_sales_data['make'].fillna('Unknown', inplace=True)

car_prices['model'].fillna('Unknown', inplace=True)
car_sales_data['model'].fillna('Unknown', inplace=True)

# You might also want to fill or drop missing values for 'year' or any other columns deemed important

In [8]:
car_prices.drop_duplicates(subset=['vin'], inplace=True)  # Assuming 'vin' is a unique identifier
car_sales_data.drop_duplicates(subset=['Date', 'Salesperson', 'Customer Name'], inplace=True)  # Composite key example

In [9]:
# Example for 'make' and 'model' columns
car_prices['make'] = car_prices['make'].str.strip().str.lower()
car_sales_data['make'] = car_sales_data['make'].str.strip().str.lower()

car_prices['model'] = car_prices['model'].str.strip().str.lower()
car_sales_data['model'] = car_sales_data['model'].str.strip().str.lower()

In [10]:
# Checking for missing values again
print(car_prices.isnull().sum())
print(car_sales_data.isnull().sum())

# Previewing the datasets to confirm changes
print(car_prices.head())
print(car_sales_data.head())

year                0
make                0
model               0
trim            10451
body            12987
transmission        0
vin                 1
state               0
condition           0
odometer           88
color             744
interior          744
seller              0
mmr                14
sellingprice       12
saledate           12
dtype: int64
Date                 0
Salesperson          0
Customer Name        0
make                 0
model                0
year                 0
sale_price           0
Commission Rate      0
Commission Earned    0
dtype: int64
   year   make                model        trim   body transmission  \
0  2015    kia              sorento          LX    SUV    automatic
1  2015    kia              sorento          LX    SUV    automatic
2  2014    bmw             3 series  328i SULEV  Sedan    automatic
3  2015  volvo                  s60          T5  Sedan    automatic
4  2014    bmw  6 series gran coupe        650i  Sedan    automatic

                 vin state  condition  odometer  color interior  \
0  5xyktca69fg566472    ca        5.0   16639.0  white    black
1  5xyktca69fg561319    ca        5.0    9393.0  white    beige
2  wba3c1c51ek116351    ca       45.0    1331.0   gray    black
3  yv1612tb4f1310987    ca       41.0   14282.0  white    black
4  wba6b2c57ed129731    ca       43.0    2641.0   gray    black

                                   seller      mmr  sellingprice  \
0                 kia motors america  inc  20500.0       21500.0
1                 kia motors america  inc  20800.0       21500.0
2  financial services remarketing (lease)  31900.0       30000.0
3                 volvo na rep/world omni  27500.0       27750.0
4  financial services remarketing (lease)  66000.0       67000.0

                                  saledate
0  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2  Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3  Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4  Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
         Date      Salesperson   Customer Name    make      model  year  \
0  2022-08-01  Monica Moore MD     Mary Butler  nissan     altima  2018
1  2023-03-15     Roberto Rose  Richard Pierce  nissan      f-150  2016
2  2023-04-29     Ashley Ramos    Sandra Moore    ford      civic  2016
3  2022-09-04   Patrick Harris    Johnny Scott    ford     altima  2013
4  2022-06-16       Eric Lopez   Vanessa Jones   honda  silverado  2022

   sale_price  Commission Rate  Commission Earned
0       15983         0.070495            1126.73
1       38474         0.134439            5172.40
2       33340         0.114536            3818.63
3       41937         0.092191            3866.20
4       20256         0.113490            2298.85

In [11]:
car_sales_data['year'] = car_sales_data['year'].astype(str)

In [12]:
# Assuming 'sale_price' is critical, fill missing values with the median or mean, based on distribution
car_sales_data['sale_price'].fillna(car_sales_data['sale_price'].median(), inplace=True)

In [13]:
car_sales_data.drop_duplicates(inplace=True)

In [14]:
car_sales_data['make'] = car_sales_data['make'].str.lower().str.strip()
car_sales_data['model'] = car_sales_data['model'].str.lower().str.strip()

In [15]:
car_sales_data['Date'] = pd.to_datetime(car_sales_data['Date'], errors='coerce')

In [17]:
car_sales_data['year'] = car_sales_data['year'].astype('category')

In [19]:
car_sales_data['make'] = car_sales_data['make'].astype('category')
car_sales_data['model'] = car_sales_data['model'].astype('category')

# Verify changes by inspecting data types again
print(car_sales_data.dtypes)

Date                 datetime64[ns]
Salesperson                  object
Customer Name                object
make                       category
model                      category
year                       category
sale_price                    int64
Commission Rate             float64
Commission Earned           float64
dtype: object

In [18]:
print(car_sales_data.info())
print(car_sales_data.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 2499999 entries, 0 to 2499999
Data columns (total 9 columns):
 #   Column             Dtype
---  ------             -----
 0   Date               datetime64[ns]
 1   Salesperson        object
 2   Customer Name      object
 3   make               object
 4   model              object
 5   year               category
 6   sale_price         int64
 7   Commission Rate    float64
 8   Commission Earned  float64
dtypes: category(1), datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 174.0+ MB
None
                                Date    sale_price  Commission Rate  \
count                        2499999  2.499999e+06     2.499999e+06
mean   2022-10-30 10:01:28.050275328  3.001218e+04     9.998764e-02
min              2022-05-01 00:00:00  1.000000e+04     5.000014e-02
25%              2022-07-31 00:00:00  2.001900e+04     7.496449e-02
50%              2022-10-30 00:00:00  3.000600e+04     1.000058e-01
75%              2023-01-30 00:00:00  4.002200e+04     1.250064e-01
max              2023-05-01 00:00:00  5.000000e+04     1.500000e-01
std                              NaN  1.154514e+04     2.887202e-02

       Commission Earned
count       2.499999e+06
mean        3.001004e+03
min         5.013400e+02
25%         1.821710e+03
50%         2.741910e+03
75%         3.978135e+03
max         7.494530e+03
std         1.481467e+03

In [20]:
# Check for missing values
missing_values = car_sales_data.isnull().sum()

# Check data types
data_types = car_sales_data.dtypes

print("Missing Values:\n", missing_values)
print("\nData Types:\n", data_types)

Missing Values:
 Date                 0
Salesperson          0
Customer Name        0
make                 0
model                0
year                 0
sale_price           0
Commission Rate      0
Commission Earned    0
dtype: int64

Data Types:
 Date                 datetime64[ns]
Salesperson                  object
Customer Name                object
make                       category
model                      category
year                       category
sale_price                    int64
Commission Rate             float64
Commission Earned           float64
dtype: object

In [21]:
import pandas as pd

# Your cleaned DataFrame
cleaned_car_sales_data = car_sales_data.copy()

# Save the cleaned data to a new CSV file
cleaned_car_sales_data.to_csv('cleaned_car_sales_data.csv', index=False)

# Optionally, you can also save it to an Excel file
# cleaned_car_sales_data.to_excel('cleaned_car_sales_data.xlsx', index=False)